{{> jumbotron }}

<div class="container" id="about-me">
    <div class="row">
        <div class="col">
            <h2>About Me</h2>
        </div>
        <div class="col">
            <img src="/imgs/IMG_3529.jpg" alt="David hiking in the fall" />
        </div>
        <div class="col">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere ipsam voluptatum quos ducimus tempora rerum quaerat consequatur aliquid asperiores porro error accusantium quibusdam harum non, autem blanditiis dolorum optio molestias.
        </div>
    </div>
</div>