{{> jumbotron }}

{{!-- <main class="container" > --}}
    <div class="row justify-content-start" id="about-me">
        <div class="col col-sm-2 section-title">
            <h2>About Me</h2>
        </div>
        <div class="col col-sm-2 about-me-img">
            <img src="/imgs/IMG_3529.jpg" alt="David hiking in the fall" />
        </div>
        <div class="col col-sm-8 about-text">
            <p>
                Full stack web developer with several years of Business Analyst experience and a degree in Information Systems from the University of Utah.  Recently earned a certificate in full stack web development from the University of Utah. Skills in HTML, CSS, Javascript, and Node.js.  Always learning new technologies and improving to strive to create impactful web applications for end users.  My variety of previous experiences provide me with a unique perspective to know when and what questions to ask to ensure that applications provide the best results and utility for end users.      
            </p>
        </div>
    </div>
    <div class="row justify-content-start" id="work">
        <div class="col col-sm-3 section-title">
            <h2>Work</h2>
        </div>
    </div>
{{!-- </main> --}}